/* Default code starts here */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sen:wght@400..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    font-family: "Montserrat", serif;
}

:root{
    --primarycolor:#0aabeb;
}

/* Default code ends here */

/* Project standard classes starts here */

.align{
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
}

.cspacing{
    padding: 2rem 0;
}

.grid-3{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 1rem;
}

.d-flex{
    display: flex;
    align-items: center;
}

.d-flex-col{
    display: flex;
    flex-direction: column;
}

.mb-1{
    margin-bottom: 1rem;
}

.ms-1{
    margin-left: 1rem;
}

.checked{
    color: #e22518;
    font-size: 1.5rem;
}

.btn-2{
    padding: 1rem 0;
    font-size: 1.5rem;
    border-color: var(--primarycolor);
    border-radius: 0.5rem;
    outline: none;
    box-shadow: none;
}

/* Project standard classes ends here */

/* hcardContainer code starts here */

.hcardContainer{
    background-color: #ebebeb;
}

.hcardBody{
    background-color: #f8f8ff;
    padding: 0.5rem 1rem;
}

.hcardImage img{
    border-radius: 1rem;
}

.hcardtext h4{
    font-size: 2.5rem;
    font-weight: 500;
}

.hcardtext p{
    font-size: 1.5rem;
}

.descrip{
    gap: 1rem;
    /* width: 60%; */
    flex-wrap: wrap;
}

.descrip p::before{
    font-family: "Font Awesome 6 Free";
    content: "\f111";
    font-size: 1rem;
    margin-right: 1rem;
}

.price h4{
    font-size: 3rem;
    word-wrap: break-word;
}

.price p{
    color: #008000;
    font-size: 2rem;
    font-weight: 500;
}

.price span s{
    margin-left: 1rem;
    font-size: 1.5rem;
    color: #800000;
}

.detailbtn {
    color: #ffffff;
    background-color: var(--primarycolor);
}

.wishlistbtn{
    color: var(--primarycolor);
    background-color: #ffffff ;   
}
/* hcardContainer code ends here */

